@font-face {
  font-weight: 400;
  font-family: "Manrope";
  font-style: normal;
  src: url("../fonts/Manroperegular.woff2") format("woff2"), url("../fonts/Manroperegular.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "Manrope";
  font-style: normal;
  src: url("../fonts/Manropesemibold.woff2") format("woff2"), url("../fonts/Manropesemibold.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Manrope";
  font-style: normal;
  src: url("../fonts/Manropebold.woff2") format("woff2"), url("../fonts/Manropebold.woff") format("woff");
}
body {
  font-family: "Manrope", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #282828;
  margin: 0;
  padding: 0;
  height: 100px;
}
.header__wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100px;
}
@media (max-width: 1000px) {
  .header__wrapper {
    width: auto;
    min-width: 320px;
  }
}
.header__logo {
  margin-right: 30px;
  text-align: center;
  margin: 0 auto;
}
.header__menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.header__menu-item {
  margin-right: 25px;
}
.header__menu-item:last-child {
  margin-right: 0;
}
.header__menu-item a {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
}
.header__menu-item a:hover {
  color: #187dc0;
}
.header__menu-item--active a {
  color: #187dc0;
  cursor: default;
}
.header__login-nav {
  margin-left: auto;
}
.header__login-link {
  color: #fff;
  text-decoration: none;
  background-color: #187dc0;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.header__login-link:hover {
  background-color: #0c659f;
}
.index-page {
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.main-page {
  min-height: calc(100vh - 250px);
  padding-bottom: 20px;
  padding-top: 50px;
}
.main-page__logo-img {
  margin: 0 auto;
  display: block;
  width: 275;
  height: 268;
  margin-bottom: 35px;
}
.main-page__btn-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-page__link {
  background-color: #3f163d;
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s;
}
.main-page__link:hover {
  background-color: #2d002b;
}
.main-page__link--bonus {
  background-color: #f39322;
}
.main-page__link--bonus:hover {
  background-color: #955d1b;
}
.timer {
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 700px) {
  .main-page__btn-group {
    flex-direction: column;
  }
  .main-page__link {
    margin-bottom: 20px;
  }
  .main-page__link:last-child {
    margin-bottom: 0;
  }
  .timer {
    width: 90%;
  }
}
.roadmap-page {
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.roadmap-main {
  min-height: calc(100vh - 200px);
  padding-bottom: 20px;
}
.roadmap__wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 50px;
}
.roadmap__title {
  color: #fff;
  text-align: center;
}
.roadmap__img {
  width: 100%;
  height: auto;
}
.roadmap__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.roadmap__item {
  color: #fff;
  padding-left: 20px;
  position: relative;
}
.roadmap__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 2px;
  height: 90%;
  background-color: #429edc;
}
@media (max-width: 1150px) {
  .roadmap__img {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .roadmap__wrapper {
    width: auto;
  }
  .roadmap__img {
    width: 100%;
  }
}
.footer {
  height: 80px;
  background-color: #282828;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.footer__wrapper {
  width: 1000px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .footer__wrapper {
    width: auto;
    min-width: 320px;
  }
}
.footer__social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__social-item {
  margin-right: 10px;
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-item a {
  width: 35px;
  height: 35px;
  background-color: #3f163d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
